@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ul>
        @foreach (var item in Model.Subjects)
        {
            <li>@item.SubjectName
                <ul>
                    @foreach (var student in item.StudentsEnrolled)
                    {
                        <li>@student.Name</li>
                    }
                </ul>
            </li>
        }
    </ul>
    <ul>
        <li>
            @Model.Subject.SubjectName
            <ul>
                @foreach (var student in Model.Subject.StudentsEnrolled)
                {
                    <li>@student.Name</li>
                }
            </ul>
        </li>
    </ul>
</div>
